@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: transparent !important;
}

#root {
  pointer-events: none;
  height: 100%;
}

* {
  pointer-events: all;
}

.draggable {
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #646464;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}
